{% extends "base.html" %}

{% block announce %}
<p>🔮 Bienvenue à la promotion 2021-2024</p>
{% endblock %}

{% block analytics %}
<script data-goatcounter="https://sykursen.goatcounter.com/count" async src="/assets/count.js"></script>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "e7934cf76e4b4d31b41cd1bb412c18e3"}'></script>
<script>console.log("RAFVOSF{V_Y0i3_A3CUN3Y}")</script>
{% endblock %}
